extends ./admin-layout

block content
  if !message
    p Message #{message.id} not found!
  else
    h1 #{ title ? title : `Message ${message.id}` }

    table.table.table-hover
      tbody
        tr
          th(scope="row") id
          td= message.id
        tr
          th(scope="row") globalPosition
          td= message.globalPosition
        tr
          th(scope="row") traceId
          td
            a(href=`/admin/correlated-messages/${message.metadata && message.metadata.traceId}`)= message.metadata && message.metadata.traceId
        tr
          th(scope="row") userId
          td
            a(href=`/admin/user-messages/${message.metadata && message.metadata.userId}`)= message.metadata && message.metadata.userId
        tr
          th(scope="row") stream name
          td
            a(href=`/admin/streams/${message.streamName}`)= message.streamName
        tr
          th(scope="row") type
          td= message.type
        tr
          th(scope="row") time
          td= message.time

    h2 Data
    pre= JSON.stringify(message.data, null, 2)